@font-face {
    font-family: SamsungOneArabic;
    src: url(fonts/SamsungOneArabic-400.ttf); 
    }

* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    direction: rtl;
    font-family: 'SamsungOneArabic';
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
}

header {
    position: relative;
}

header img{
    width: 100%;
    height: auto;
}

header .headline {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 35%;
    right: 5%;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

header p {
    font-size: 36px;
    margin: 0;
}

.family {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: -10px;
}

article {
    margin: 0 auto;
    padding-top: 100px;
    display: block;
    width: 600px;
    height: 300px;
    font-size: 34px;
    text-align: center;
    line-height: 2;
}

figure {
    max-width: 1400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

figure img {
    width: 100%;
}
/*
button.learn-more {
    width: 100px;
    text-align: center;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    transition: 0.5s; 
}


button  {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background: transparent;
    border: solid 1.5px;
}

button.learn-more:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

button.learn-more a {
    padding: 20px 40px;
    line-height: 60px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'SamsungOneArabic';
}

*/
.caption {
    display: block;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 34px;
    font-weight: bold;
}

.tab {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    height: auto;
    margin-top: 30px;
  }
  

button {
    max-width: 300px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
  }

button:hover {
    background-color: #fff;;
    background-image: url(images/popup.png);
    background-size: cover;
    cursor: pointer;
}

.tabcontent {
    display: none;
    text-align:center;

  }

.tabcontent img {
    max-width: 400px;
    width: 100%;
    height: auto;
    
}

 #Pink {
      display: block;
  }

  .partners {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      max-width: 1400px;
      width: 100%;
      height: auto;
      text-align: center;
  }

  .partners h2 {
    font-size: 34px;
  }

  


[class*="col-"] {
    float: left;
   /* padding: 20px 20px 20px 0;  */
}


/* MEDIA QUERIES */


/* GRID 

@media (max-width: 767px){
    /* For tablets: 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media (min-width: 768px) {
    /* For desktop: 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
  */
  
  /* STYLES */