@font-face {
    font-family: SamsungOneArabic;
    src: url(fonts/SamsungOneArabic-400.ttf); 
    }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    direction: rtl;
    font-family: 'SamsungOneArabic';
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header {
    position: relative;
}

header img{
    width: 100%;
    height: auto;
}

.mobileKV {
    display: none;
}

header .headline {
    position: absolute;
    max-width: 400px;
    height: auto;
    top: 35%;
    right: 5%;
    text-align: right;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}

header p {
    font-size: 36px;
    margin: 0;
}

.family {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: -10px;
}

article {
    margin: 0 auto;
    padding-top: 100px;
    display: block;
    max-width: 600px;
    width: 100%;
    height: 300px;
    font-size: 34px;
    text-align: center;
    line-height: 2;
}

figure {
    max-width: 1400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

figure img {
    width: 100%;
}

button.learn-more {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    background: transparent;
    border: solid 1.5px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    transition: 0.5s;
}
button.learn-more:hover {
    cursor: pointer;
    background-color: #000;
}

button.learn-more a {
    line-height: 50px;
    text-decoration: none;
    color: #000;
}

button.learn-more a:hover {
    color: #fff;
}

.caption {
    display: block;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 34px;
    font-weight: bold;
}

.slider {
    max-width: 1400px;
    width: 100%;
    position:relative;
    text-align: center;
    margin: 0 auto;
}

.prev, .next {
    width: auto;
    position: absolute;
    top: 50%;
}

.arrow {
    width: 50px;
}

.prev {
    right: 15%;
}

.next {
   left: 15%;
}

.tab {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
    text-align: center;
    width:100%;
    height: auto;
    margin-top: 30px;
  }
  
button {
    font-family: 'SamsungOneArabic';
}
 
.tab button {
    margin: 0 auto;
    max-width: 250px;
    max-height: 300px;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
  }

.tab button:hover {
    background-color: #fff;;
    background-image: url(images/popup.png);
    background-size: cover;
    cursor: pointer;
}

.tabcontent {
    display: none;
    text-align:center;

  }

.tabcontent img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

 #Pink {
      display: block;
  }

.tab2 {
    font-size: 30px;
}

.tab2, .tabcontent2 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tab2 button{
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
 .tabcontent2 {
     display: none;
     margin-bottom: 10%;
    
 }

 .tabcontent2 img {
     margin: 20px;
     padding: 10px 30px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 #Online {
     display: block;
 }

 

 @media (max-width: 767px){
    
    .desktopKV {
        display: none;
    }
    .mobileKV {
        display: block;
        width: 100%;
        height: auto;
    }

    header .headline {
        margin: 0 auto;
        top: 10%;
        right: 15%;
        text-align: center;
    }

    .caption {
        font-size: 26px;
    }

    .tab button {
        padding: 5px;
      }

    header h1 {
        font-size: 28px
    }

    header p{
        font-size: 26px;
    }

    article {
        font-size: 14px;
        padding: 30px 5px;
        height: auto;
    }

    .slider{
        padding-bottom: 50px;
    }
    .prev, .next {
        width: auto;
        position: absolute;
        top: 90%;
    }
    .prev {
        right: 25%;
    }
    
    .next {
       left: 25%;
    }

    .tab2 button {
        padding: 10px;
        font-size: 16px;
    }

    .tab button {
        padding: 3px;
        font-size: 10px;
    }

    .tab img {
        max-width: 80px;
        max-height: 80px;
    }

    .tab2 h2 {
        font-size: 28px;
    }

 }

 @media (min-width: 768px) and (max-width: 1199px) {
    header h1 {
        font-size: 28px
    }

    header p{
        font-size: 24px;
    }


    .tab button {
        padding: 20px;
        font-size: 10px;
    }
    .tab img {
        max-width: 80px;
        max-height: 80px;
    }

    .prev {
        right: 3%;
    }
    
    .next {
       left: 3%;
    }

    .tab {
        width: 500px;
    }
}
